<html>
  <h1>Registration</h1>
  <form action="/", method="POST">
    <label for="Firstname">First name:</label>
    <input type="text" name="Firstname" value="first name">
    <label for="Lastname">Name:</label>
    <input type="text" name="Lastname" value="name">
    <label for="Email">Email:</label>
    <input type="text" name="Email" value="peter@pan.com">
    <label for="Company">Company:</label>
    <input type="text" name="Company" value="peterpaninc">
    <label for="Date">Date:</label>
    <input type="text" name="Date" value="01.02.1996">
    <label for="Trainingscode">Trainingscode:</label>
    <input type="text" name="Trainingscode" value="67D3">
    <label for="PrivacyProtectionAccepted">Accept privacy protection:</label>
    <input type="text" name="PrivacyProtectionAccepted" value="true">
    <input type="submit" name="Submit" value="Submit">
  </form>
</html>
